:root {
  --white: #fff;

  --blue-050: #F5F6FA;
  --blue-075: #E4E6F0;
  --blue-100: #E4EAFA;
  --blue-300: #A9B3D8;
  --blue-500: #001BE6;
  --blue-800: #122462;

  --red-200: #DE8080;

  --shadow-sm: 0 3px 6px rgba(0, 42, 110, 6%);

  --modal-bg: rgba(24, 29, 51, 50%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #1E2540;

    --blue-050: #181D33;
    --blue-075: #242B4D;
    --blue-100: #1F2440;
    --blue-300: #3F4977;
    --blue-500: #5777FF;
    --blue-800: #B6C3F5;

    --red-200: #B95483;

    --shadow-sm: 0 3px 6px rgba(12, 14, 26, 10%);
  }
}

@font-face {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/Roboto-Regular.ttf") format("ttf"),;
}
@font-face {
  font-family: Roboto;
  font-weight: bold;
  font-style: normal;
  src: url("./fonts/Roboto-Bold.ttf") format("ttf"),;
}

@font-face {
  font-family: Roboto;
  font-weight: normal;
  font-style: italic;
  src: url("./fonts/Roboto-Italic.ttf") format("ttf"),;
}

