body {
  --white-bg: #fff;
  --white: #fff;

  --blue-050: #F0F2F7;
  --blue-100: #DCE3F5;
  --blue-300: #8E9DC3;
  --blue-500: #1146D8;
  --blue-700: #445890;
  --blue-800: #445890;
  --blue-900: #122462;

  --red-200: #EB9898;

  --green-200: #69BAA8;

  --yellow-200: #DEA422;

  --shadow-sm: 0 3px 6px rgba(0, 42, 110, 6%);

  --modal-bg: rgba(24, 29, 51, 50%);
}

@media (prefers-color-scheme: dark) {
  body.theme-system {
    --white-bg: #232834;
    --white: #fff;

    --blue-050: #1B1F27;
    --blue-100: #2A3348;
    --blue-300: #2F3543;
    --blue-500: #98B3FF;
    --blue-700: #444B5F;
    --blue-800: #BFC9E5;
    --blue-900: #122462;

    --red-200: #D15D5D;

    --green-200: #7EE095;

    --yellow-200: #DBC476;

    --shadow-sm: 0 3px 6px rgba(12, 14, 26, 10%);
  }
}

body.theme-dark {
  --white-bg: #232834;
  --white: #fff;

  --blue-050: #1B1F27;
  --blue-100: #2A3348;
  --blue-300: #2F3543;
  --blue-500: #98B3FF;
  --blue-700: #444B5F;
  --blue-800: #BFC9E5;
  --blue-900: #122462;

  --red-200: #D15D5D;

  --green-200: #7EE095;

  --yellow-200: #DBC476;

  --shadow-sm: 0 3px 6px rgba(12, 14, 26, 10%);
}

@font-face {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/Roboto-Regular.ttf") format("ttf"),;
}
@font-face {
  font-family: Roboto;
  font-weight: bold;
  font-style: normal;
  src: url("./fonts/Roboto-Bold.ttf") format("ttf"),;
}

@font-face {
  font-family: Roboto;
  font-weight: normal;
  font-style: italic;
  src: url("./fonts/Roboto-Italic.ttf") format("ttf"),;
}

